#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#mycarousel{
    background-color:darkorange;
}
#mycarousel img{
    height:300px;
    margin-top:35px;
}
.carousel-inner p{
    font-size:25px;
    color:black;
    margin-top:15px;
    margin-bottom:15px;
    font-family:fantasy;
}
